<svg width="60px" height="80px" viewBox="0 0 60 80" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="icon-padlock {{ class }}">
    <title>padlock</title>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="padlock" fill="#FFFFFF" fill-rule="nonzero">
            <path d="M52.5,30 L50,30 L50,20 C50,8.97 41.03,0 30,0 C18.97,0 10,8.97 10,20 L10,30 L7.5,30 C3.36666667,30 0,33.3633333 0,37.5 L0,72.5 C0,76.6366667 3.36666667,80 7.5,80 L52.5,80 C56.6333333,80 60,76.6366667 60,72.5 L60,37.5 C60,33.3633333 56.6333333,30 52.5,30 Z M16.6666667,20 C16.6666667,12.6466667 22.6466667,6.66666667 30,6.66666667 C37.3533333,6.66666667 43.3333333,12.6466667 43.3333333,20 L43.3333333,30 L16.6666667,30 L16.6666667,20 Z M33.3333333,55.74 L33.3333333,63.3333333 C33.3333333,65.1733333 31.8433333,66.6666667 30,66.6666667 C28.1566667,66.6666667 26.6666667,65.1733333 26.6666667,63.3333333 L26.6666667,55.74 C24.6833333,54.5833333 23.3333333,52.4566667 23.3333333,50 C23.3333333,46.3233333 26.3233333,43.3333333 30,43.3333333 C33.6766667,43.3333333 36.6666667,46.3233333 36.6666667,50 C36.6666667,52.4566667 35.3166667,54.5833333 33.3333333,55.74 Z" id="Shape"></path>
        </g>
    </g>
</svg>
