<div class="sf-slider__controls flex items-center justify-center mt-5 md:mt-0 -mx-2{% if absolute == true %} sf-slider__controls--absolute{% endif %}{% if container == 'w-full' %} sf-slider__controls--full{% endif %}">
    <button class="sf-slider__controls-button swiper-button-prev sf-slider__controls-prev border sm:hover:border-black rounded-full cursor-pointer mx-2">
        {% render 'icon', name: 'prev' %}
    </button>
    <button class="sf-slider__controls-button swiper-button-next sf-slider__controls-next border sm:hover:border-black rounded-full cursor-pointer mx-2">
        {% render 'icon', name: 'next' %}
    </button>
</div>
