/* PageFly Element Styles */
						.dyORKt { display: inline-block; line-height: 1; padding: 12px 20px; text-align: center; text-decoration: none; outline: 0px; }
.dyORKt i { margin-right: 0.3em; }
.dyORKt:hover, .dyORKt:active, .dyORKt:focus, .dyORKt span { color: inherit; }
.dyORKt span { display: initial; }
.jOHUgE { word-break: break-word; }
.jOHUgE span { font-weight: inherit; text-decoration: inherit; }
.jOHUgE i { margin-right: 0.3em; }
.NwVYe { min-height: 30px; }
.gLjPtp { display: inline-block; vertical-align: middle; }
.gLjPtp img { width: 100%; border-radius: inherit; }
.euFqBA { position: relative; }
.Cxmgx { padding: var(--pf-s-lg); }
@media (min-width: 992px) and (max-width: 1199px) {
  .Cxmgx { padding: var(--pf-s-md); }
}
@media (min-width: 768px) and (max-width: 991px) {
  .Cxmgx { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .Cxmgx { padding: var(--pf-s-xs); }
}
.jOyZMp { position: relative; }
.ezvhlM { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (min-width: 992px) and (max-width: 1199px) {
  .ezvhlM { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (min-width: 768px) and (max-width: 991px) {
  .ezvhlM { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .ezvhlM { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.jbFqTk__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.jbFqTk { padding: 15px 0px; position: relative; }
.gzEQOZ > span:last-child { line-height: inherit; display: block; margin-right: 0px !important; }
#editor-dnd-wrapper .sc-eySxxw span + span[contenteditable] { display: block; }
#editor-dnd-wrapper .sc-eySxxw span + span[contenteditable]:empty::after { display: inline; }
.gzEQOZ ol, .gzEQOZ ul { list-style-position: inside; }
.gzEQOZ blockquote { font-size: inherit; }
.lkyDJP { display: inline-block; }
.lkyDJP[contenteditable="true"] { user-select: text; }
.lkyDJP { vertical-align: baseline; word-break: break-word; }
.lkyDJP:focus { outline: none; }
.lkyDJP::after { display: inline; }
.dyiAvU { border: none; outline: none; line-height: 1; padding: 12px 20px; cursor: pointer; background: rgb(235, 235, 235); position: relative; display: inline-flex; align-items: center; justify-content: center; }
.dyiAvU[disabled] { opacity: 0.7; }
.dyiAvU.is-loading, .dyiAvU.is-added { pointer-events: none; }
.dyiAvU > span { vertical-align: middle; line-height: inherit; display: inline-block; max-width: 100%; }
.dyiAvU.pf-i--left i { margin-right: 0.3em; }
.sc-iboAsT + .sc-iboAsT, .dyiAvU.pf-i--right i { margin-left: 0.3em; }
.WUzgQ { display: inline-flex; }
.WUzgQ input { width: 60px; height: 56px; outline: none; text-align: center; padding: 0px; border: 1px solid rgb(209, 213, 219); border-radius: 4px; }
.WUzgQ input[data-hidespinner="true"] { }
.WUzgQ input[data-hidespinner="true"]::-webkit-outer-spin-button, .WUzgQ input[data-hidespinner="true"]::-webkit-inner-spin-button { appearance: none; }
.WUzgQ input:not(:first-child) { margin: 0px 4px; }
.WUzgQ button { width: 56px; height: 56px; outline: none; border: inherit; border-radius: inherit; padding: 0px; }
.WUzgQ button[data-quantity-disabled="true"] { opacity: 0.2; }
.WUzgQ .js-qty { margin: 0px 4px; height: 56px; }
.WUzgQ .js-qty button { display: none; }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-f74b03a6 {
		text-align: center;
		 margin: 0px;
		 padding: 0px;
		 font-size: 17px;
		 font-family: Roboto;
		 color: rgb(255, 255, 255);
	}
	.__pf .pf-a6106fef {
		margin: 0px;
		 padding: 0px;
	}
	.__pf .pf-6fef1765 {
		padding: 0px;
		 background-color: rgb(34, 35, 92);
	}
	.__pf .pf-1765d064 {
		width: 200px;
		 height: auto;
	}
	.__pf .pf-d064ba67 {
		text-align: left;
		 margin-bottom: 0px;
	}
	.__pf .pf-0106343f {
		text-align: right;
		 font-size: 18px;
		 margin: 0px;
		 color: rgb(0, 0, 0);
	}
	.__pf .pf-53ab0651 {
		border-bottom: 1px solid rgb(240, 239, 242);
		 padding: 0px;
	}
	.__pf .pf-093161c3 {
		font-size: 40px;
		 text-align: left;
	}
	.__pf .pf-193be3c1 {
		font-size: 23px;
		 text-align: left;
	}
	.__pf .pf-8c5f350b > button {
		background-color: rgb(93, 107, 130);
		 border-radius: 4px;
		 color: rgb(255, 255, 255);
	}
	.__pf .pf-8c5f350b > input {
		font-size: 16px;
	}
	.__pf .pf-ba27511e {
		background: rgb(255, 180, 5);
		 border-radius: 4px;
		 color: rgb(255, 255, 255);
		 width: 100%;
		 margin-top: 15px;
		 padding: 20px;
		 font-weight: bold;
		 font-size: 22px;
	}
	.__pf .pf-c10ed602 {
		width: auto;
		 height: auto;
	}
	.__pf .pf-d60264af {
		text-align: center;
	}
	.__pf .pf-afdf5467 {
		border-bottom: 1px solid rgb(240, 239, 242);
		 background-color: rgb(243, 243, 243);
	}
	.__pf .pf-950256e4 {
		text-align: center;
		 font-family: Roboto;
		 font-size: 35px;
	}
	.__pf .pf-23c3dcc7 {
		text-align: center;
	}
	.__pf .pf-51321361 {
		color: rgb(255, 255, 255);
		 text-align: center;
		 font-family: Roboto;
		 background-color: rgb(255, 180, 5);
		 padding: 25px;
		 font-weight: 700;
		 box-shadow: rgba(0, 0, 0, 0.1) 0px 6px 11px;
		 margin-top: 25px;
	}
	.__pf .pf-61096893 {
		border-style: solid;
		 border-color: rgb(0, 0, 0);
		 border-width: 1px;
		 text-align: center;
		 padding-bottom: 35px;
		 padding-left: 25px;
		 padding-right: 25px;
		 margin-top: 35px;
	}
	.__pf .pf-93272129 {
		padding: 0px;
	}
	.__pf .pf-2129b549 {
		box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 7px;
	}
	.__pf .pf-b549391e {
		text-align: center;
	}
	.__pf .pf-d3a92a75 {
		font-family: Roboto;
		 text-align: center;
		 line-height: 1.3em;
		 color: rgb(0, 0, 0);
		 margin-top: 0px;
		 margin-bottom: 20px;
		 font-size: 43px;
	}
	.__pf .pf-4742fe3f {
		font-family: Roboto;
		 font-size: 25px;
		 text-align: left;
		 line-height: 1.3em;
	}
	.__pf .pf-fe3fc830 {
		text-align: center;
	}
	.__pf .pf-b56f5702 {
		font-family: Roboto;
		 font-size: 42px;
		 line-height: 1.3em;
		 font-weight: 700;
		 text-align: center;
		 margin-top: 10px;
		 margin-bottom: 10px;
		 color: rgb(255, 255, 255);
		 padding: 20px;
	}
	.__pf .pf-5702f54c {
		background-color: transparent;
		 background-image: linear-gradient(rgb(80, 184, 60), rgb(39, 120, 23));
	}
	.__pf .pf-0896e8ee {
		font-family: Roboto;
		 font-size: 25px;
		 line-height: 1.3em;
	}
	.__pf .pf-ee8ed8f0 {
		margin-bottom: -40px;
	}
	.__pf .pf-d8f08adc {
		line-height: 1.3em;
		 margin-bottom: 0px;
	}
	.__pf .pf-20ecfed6 {
		text-align: center;
		 font-size: 39px;
		 font-weight: 700;
		 color: rgb(255, 255, 255);
		 margin: 10px 0px;
		 padding: 20px;
		 font-family: Roboto;
	}
	.__pf .pf-fed6f489 {
		background-color: transparent;
		 background-image: linear-gradient(rgb(255, 180, 5), rgb(255, 139, 5));
		 vertical-align: middle;
		 display: inline-block;
		 width: 100%;
	}
	.__pf .pf-f4894de7 {
		margin-top: 20px;
	}
	.__pf .pf-3df148d2 {
		color: rgb(0, 0, 0);
		 font-family: Roboto;
		 font-size: 25px;
		 font-weight: 700;
		 line-height: 1.3em;
		 width: 100%;
		 background-image: none;
		 background-position: center center;
		 border-width: 0px;
		 border-style: initial;
		 border-color: initial;
		 border-radius: 20px;
		 text-align: left;
		 padding-top: 8px;
		 padding-bottom: 8px;
		 margin-bottom: 20px;
	}
	.__pf .pf-0f6913ab {
		font-family: Roboto;
		 font-size: 22px;
		 line-height: 1.3em;
	}
	.__pf .pf-b162e1f6 {
		color: rgb(0, 0, 0);
		 font-family: Roboto;
		 font-size: 25px;
		 font-weight: 700;
		 line-height: 1.3em;
		 width: 100%;
		 background-image: none;
		 background-position: center center;
		 border-width: 0px;
		 border-style: initial;
		 border-color: initial;
		 border-radius: 20px;
		 text-align: left;
		 padding-top: 8px;
		 padding-right: 20px;
		 padding-bottom: 8px;
		 margin-bottom: 20px;
	}
	.__pf .pf-e1f64766 {
		width: auto;
		 height: auto;
	}
	.__pf .pf-a90ed3c5 {
		font-family: Roboto;
		 font-size: 22px;
		 line-height: 1.3em;
	}
	.__pf .pf-ffbb4d4c {
		margin-top: 25px;
	}
	.__pf .pf-b0f1cf7c {
		color: rgb(0, 0, 0);
		 font-family: Roboto;
		 font-size: 22px;
		 font-weight: 700;
		 line-height: 1.3em;
		 width: 100%;
		 background-image: none;
		 background-position: center center;
		 border-width: 0px;
		 border-style: initial;
		 border-color: initial;
		 border-radius: 20px;
		 text-align: left;
		 padding: 8px 20px 8px 0px;
		 margin-bottom: 20px;
	}
	.__pf .pf-d14e4b16 {
		font-family: Roboto;
		 font-size: 22px;
		 line-height: 1.3em;
	}
	.__pf .pf-4acd837e {
		color: rgb(0, 0, 0);
		 font-family: Roboto;
		 font-size: 25px;
		 font-weight: 700;
		 line-height: 1.3em;
		 width: 100%;
		 background-image: none;
		 background-position: center center;
		 border-width: 0px;
		 border-style: initial;
		 border-color: initial;
		 border-radius: 20px;
		 text-align: left;
		 padding-top: 8px;
		 padding-right: 20px;
		 padding-bottom: 8px;
		 margin-bottom: 20px;
	}
	.__pf .pf-837e98ce {
		width: auto;
		 height: auto;
	}
	.__pf .pf-a50d1cb8 {
		font-family: Roboto;
		 font-size: 22px;
		 line-height: 1.3em;
	}
	.__pf .pf-5f4c39e8 {
		margin-top: 25px;
	}
	.__pf .pf-239c2bf8 {
		color: rgb(0, 0, 0);
		 font-family: Roboto;
		 font-size: 22px;
		 font-weight: 700;
		 line-height: 1.3em;
		 width: 100%;
		 background-image: none;
		 background-position: center center;
		 border-width: 0px;
		 border-style: initial;
		 border-color: initial;
		 border-radius: 20px;
		 text-align: left;
		 padding: 8px 20px 8px 0px;
		 margin-bottom: 20px;
	}
	.__pf .pf-2bf8d1f2 {
		font-family: Roboto;
		 font-size: 22px;
		 line-height: 1.3em;
	}
	.__pf .pf-5c232e2b {
		font-family: Roboto;
		 font-size: 46px;
		 text-align: center;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 color: rgb(0, 0, 0);
		 padding-top: 10px;
		 padding-bottom: 15px;
		 border-style: none;
		 border-width: 0px 0px 1px;
		 font-weight: 700;
	}
	.__pf .pf-2e2b0aaa {
		text-align: center;
	}
	.__pf .pf-511264f5 {
		font-size: 16px;
		 font-weight: 400;
		 line-height: 1.3em;
		 text-align: left;
	}
	.__pf .pf-fc4cb124 {
		text-align: left;
	}
	.__pf .pf-b1245651 {
		width: 100%;
		 height: auto;
	}
	.__pf .pf-74a2c88d {
		text-align: center;
	}
	.__pf .pf-c88d8b1d {
		margin-top: 30px;
	}
	.__pf .pf-8b1dccad {
		padding-top: 0px;
	}
	.__pf .pf-a9a4e262 {
		font-family: Roboto;
		 font-size: 46px;
		 text-align: center;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 color: rgb(0, 0, 0);
		 padding-top: 15px;
		 padding-bottom: 15px;
		 border-style: none;
		 border-width: 0px 0px 1px;
		 font-weight: 700;
	}
	.__pf .pf-60822f1a {
		border-style: none;
	}
	.__pf .pf-994679e8 {
		text-align: center;
	}
	.__pf .pf-33093ac3 {
		text-align: center;
		 font-family: Roboto;
		 line-height: 1.3em;
		 font-size: 25px !important;
	}
	.__pf .pf-38777089 {
		font-family: Roboto;
		 font-size: 46px;
		 text-align: center;
		 font-weight: 700;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 color: rgb(0, 0, 0);
		 padding-top: 15px;
		 padding-bottom: 15px;
		 border-style: none;
		 border-color: rgb(177, 177, 177);
		 border-width: 0px 0px 1px;
	}
	.__pf .pf-9712e8ee {
		text-align: center;
	}
	.__pf .pf-7cf425fa {
		text-align: center;
		 font-size: 18px;
		 margin-top: 0px;
		 margin-bottom: 0px;
	}
	.__pf .pf-8192b062 {
		text-align: center;
		 line-height: 1.3em;
		 margin-top: 0px;
		 font-size: 25px !important;
	}
	.__pf .pf-ae76b40a {
		margin: 0px;
	}
	.__pf .pf-b40a1bbb {
		padding: 0px;
	}
	.__pf .pf-5b6ba686 {
		font-family: Roboto;
		 font-size: 46px;
		 text-align: center;
		 font-weight: 700;
		 margin-bottom: 0px;
		 background-color: rgb(32, 53, 76);
		 color: rgb(255, 255, 255);
		 padding-top: 15px;
		 padding-bottom: 15px;
		 margin-top: 0px;
	}
	.__pf .pf-737ca179 {
		text-align: left;
	}
	.__pf .pf-79b8ab43 {
		text-align: center;
	}
	.__pf .pf-6b17ffad {
		color: rgb(0, 0, 0);
		 text-transform: uppercase;
		 font-family: Roboto;
		 font-size: 16px;
		 border-right: 1px solid rgb(102, 102, 102);
		 padding: 2px 5px;
	}
	.__pf .pf-5550e33c {
		color: rgb(0, 0, 0);
		 text-transform: uppercase;
		 font-family: Roboto;
		 font-size: 16px;
		 border-right: 1px solid rgb(102, 102, 102);
		 padding: 2px 5px;
	}
	.__pf .pf-bb63dafb {
		color: rgb(0, 0, 0);
		 text-transform: uppercase;
		 font-family: Roboto;
		 font-size: 16px;
		 border-right: 1px solid rgb(102, 102, 102);
		 padding: 2px 5px;
	}
	.__pf .pf-1e97c96b {
		color: rgb(0, 0, 0);
		 text-transform: uppercase;
		 font-family: Roboto;
		 font-size: 16px;
		 padding: 2px 5px;
	}
	.__pf .pf-c96bcd4b {
		text-align: center;
	}
	.__pf .pf-5a8f6711 {
		font-family: Roboto;
		 font-size: 16px;
		 text-align: center;
		 margin-top: 0px;
		 margin-bottom: 0px;
	}
}
@media only screen and (max-width: 767px) {
	.__pf .pf-d064ba67 {
		text-align: center;
	}
	.__pf .pf-0106343f {
		text-align: center;
	}
	.__pf .pf-093161c3 {
		font-family: Roboto;
		 font-size: 28px;
	}
	.__pf .pf-c10ed602 {
		width: 100%;
		 height: auto;
	}
	.__pf .pf-51321361 {
		font-size: 20px;
		 padding: 15px;
	}
	.__pf .pf-2129b549 {
		width: auto;
		 height: auto;
	}
	.__pf .pf-d3a92a75 {
		font-size: 32px;
		 margin-top: 35px;
	}
	.__pf .pf-4742fe3f {
		margin-bottom: 0px;
	}
	.__pf .pf-b56f5702 {
		font-size: 27px;
		 margin-top: 35px;
		 margin-bottom: 35px;
	}
	.__pf .pf-5702f54c {
		margin-top: 40px;
	}
	.__pf .pf-0896e8ee {
		margin-top: 40px;
	}
	.__pf .pf-20ecfed6 {
		margin-top: 30px;
		 margin-bottom: 30px;
		 padding: 10px;
		 font-size: 19px;
		 color: rgb(255, 255, 255);
		 font-weight: 700;
		 font-family: Roboto;
	}
	.__pf .pf-fed6f489 {
		margin-top: 50px;
	}
	.__pf .pf-f4894de7 {
		margin-top: 20px;
	}
	.__pf .pf-3df148d2 {
		text-align: center;
		 font-family: Roboto;
		 font-size: 20px;
	}
	.__pf .pf-0f6913ab {
		text-align: left;
	}
	.__pf .pf-13ab8202 {
		text-align: center;
	}
	.__pf .pf-b162e1f6 {
		text-align: center;
		 font-family: Roboto;
		 font-size: 20px;
	}
	.__pf .pf-e1f64766 {
		width: auto;
		 height: 251px;
	}
	.__pf .pf-a90ed3c5 {
		text-align: left;
	}
	.__pf .pf-d3c56cf8 {
		text-align: center;
	}
	.__pf .pf-b0f1cf7c {
		text-align: center;
		 font-size: 20px;
		 font-family: Roboto;
	}
	.__pf .pf-d14e4b16 {
		text-align: left;
	}
	.__pf .pf-4b16ce4a {
		text-align: center;
	}
	.__pf .pf-4acd837e {
		text-align: center;
		 font-family: Roboto;
		 font-size: 20px;
	}
	.__pf .pf-837e98ce {
		width: auto;
		 height: 251px;
	}
	.__pf .pf-a50d1cb8 {
		text-align: left;
	}
	.__pf .pf-1cb844f1 {
		text-align: center;
	}
	.__pf .pf-239c2bf8 {
		text-align: center;
		 font-size: 20px;
		 font-family: Roboto;
	}
	.__pf .pf-2bf8d1f2 {
		text-align: left;
	}
	.__pf .pf-d1f24bdb {
		text-align: center;
	}
	.__pf .pf-55912a82 {
		padding-top: 0px;
	}
	.__pf .pf-5c232e2b {
		font-size: 36px;
		 width: 100%;
		 padding-left: 15px;
		 padding-right: 15px;
		 font-family: Roboto;
	}
	.__pf .pf-511264f5 {
		text-align: center;
	}
	.__pf .pf-64f5fc4c {
		width: 100%;
		 height: auto;
	}
	.__pf .pf-b1245651 {
		width: 100%;
		 height: auto;
	}
	.__pf .pf-a9a4e262 {
		font-size: 36px;
	}
	.__pf .pf-2f1a9946 {
		width: 120px;
		 height: auto;
	}
	.__pf .pf-38777089 {
		font-size: 36px;
		 width: 100%;
	}
	.__pf .pf-70899712 {
		width: 228px;
		 height: auto;
	}
	.__pf .pf-5b6ba686 {
		font-size: 32px;
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.__pf .pf-093161c3 {
		font-family: Roboto;
		 font-size: 28px;
	}
	.__pf .pf-5c232e2b {
		font-size: 35px;
	}
	.__pf .pf-a9a4e262 {
		font-size: 35px;
	}
	.__pf .pf-38777089 {
		font-size: 35px;
	}
	.__pf .pf-5b6ba686 {
		font-size: 35px;
	}
}
						